<!DOCTYPE html>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='style.css') }}"
/>

<html>
  <head>
    <title>Create Profile</title>
  </head>
  <h1>Create profile here</h1>
  <body>
    <form>
      <label>First Name</label> <br />
      <input type="text" id="firstName" required /> <br />
      <label>Last Name</label> <br />
      <input type="text" id="lastName" required /> <br />
      <label>Position</label> <br />
      <input type="text" id="position" required /> <br />
      <label>About me</label> <br />
      <input type="text" id="aboutMe" required /> <br />
      <button id="submitButton" class="submit">Submit</button>
    </form>

    <h3>Insert Education</h3>
    <form>
      <label>School</label> <br />
      <input type="text" id="school" required /> <br />
      <label>Degree</label> <br />
      <input type="text" id="degree" required /> <br />
      <label>Field of Study</label> <br />
      <input type="text" id="fieldOfStudy" required /> <br />
      <label>Start Date</label> <br />
      <input type="month" id="startYear" required /> <br />
      <label>End Date</label> <br />
      <input type="month" id="endYear" required /> <br />
      <button id="submitButton" class="submit">Submit</button>
    </form>

    <h3>Insert Experience</h3>
    <form>
      <label>Title</label> <br />
      <input type="text" id="title" required /> <br />
      <label>Employment Type</label> <br />
      <input type="text" id="employmentType" /> <br />
      <label>Company</label> <br />
      <input type="text" id="company" required /> <br />
      <label>Location</label> <br />
      <input type="text" id="location" required /> <br />
      <label>Start Date</label> <br />
      <input type="month" id="startDate" required /> <br />
      <label>End Date</label> <br />
      <input type="month" id="endDate" required /> <br />
      <button id="submitButton" class="submit">Submit</button>
    </form>
  </body>
</html>
